.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	background-color: white;
	color: #000;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	height: fit-content;
	text-align: center;
	border-radius: 10px;
}

.modal-content a {
	color: #4caf50;
	text-decoration: underline;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.btn {
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
}

#acceptBtn {
	background-color: #65c565;
}

#denyBtn {
	background-color: #ff6f43;
}

.button-box {
	display: flex;
	gap: 16px;
}
